
body {
  margin-bottom: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}

#publications {
  display: inline;
}

#bib-download {
  margin-left: 10px;
}

#table-of-contents {
  margin-bottom: 10%;
}
#table-of-contents > a {
  margin-right: 10px;
  margin-left: 10px;
}

li, dd {
  margin-bottom: 10px;
}

