
body { 
  margin: 0;
  -webkit-text-size-adjust: 100%;
}


header {
  width: 100%;
  height: 3rem;
  background: lightblue;

  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

header .nav #toc {
  display: flex;
}
header nav #toc li {
  list-style: none;
}
header nav #toc li + li {
  margin-left: 20px;
}



main {
  padding-top: 5vh;

  margin-bottom: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}


footer {
  width: 100%;
  height: 3rem;
  background: lightblue;

  box-sizing: border-box;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;

  justify-content: center;
}


a:visited {
  color: inherit;
}


main a[href="#awards"] {
  color: red;
  font-weight: bold;
}


hr.top-hr {
  margin-top: 5rem;
}

img.fixed-characters {
  height: 1rem;
}

#publications {
  /*display: inline;*/
}

#bib-download {
  margin-left: 10px;
}


li, dd {
  margin-bottom: 10px;
}



@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  main {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  main {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.3rem;
  }
}
