
body {
  -webkit-text-size-adjust: 100%;
  margin-bottom: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}


a:visited {
  color: inherit;
}

p#lang-select {
  position: fixed;
  right: 10%;
  background-color: white;

  padding: 1%;
}

:not(p#table-of-contents) > a[href="#awards"] {
  color: red;
  font-weight: bold;
}

/*p#lang-select > button {
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
}
p#lang-select > button:hover {
  text-decoration: underline;
  color: #002080;
}*/

hr.top-hr {
  margin-top: 5rem;
}

img.fixed-characters {
  height: 1rem;
}

#publications {
  /*display: inline;*/
}

#bib-download {
  margin-left: 10px;
}

#table-of-contents {
  margin-bottom: 5%;
}
#table-of-contents > a {
  margin-right: 10px;
  margin-left: 10px;
}

li, dd {
  margin-bottom: 10px;
}



@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  body {
    margin-left: 5%;
    margin-right: 5%;

    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  body {
    margin-left: 3%;
    margin-right: 3%;

    font-size: 1.4rem;
  }
}
